<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="~/my-computers">my computers</a></li>
        <li><a href="http://www.jcbench.com" target="_blank">jcBENCH</a></li>
        <li><a href="~/white-papers">white papers</a></li>
        <li><a href="~/About-Me">about me</a></li>
        <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://twitter.com/jcapellman"><img src="~/Content/Menu/twitter.png" width="32" height="32" /></a></span></li>
        <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://linkedin.com/in/jarredcapellman"><img src="~/Content/Menu/linkedin.png" width="32" height="32" /></a></span></li>
        <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://www.github.com/jcapellman"><img src="~/Content/Menu/github.png" width="32" height="32" /></a></span></li>
        <li><span style="line-height: 50px; margin-left: 10px;"><a href="https://www.nuget.org/profiles/jcapellman"><img src="~/Content/Menu/nuget.png" width="32" height="32" /></a></span></li>
        <li><span style="line-height: 50px; margin-left: 10px;"><a href="http://www.jarredcapellman.com/feed"><img src="~/Content/Menu/RSS.png" width="32" height="32" /></a></span></li>
    </ul>

    @*@Html.Partial("SearchView", new bbxp5.mvc.Models.SearchModel())*@
</div>